.form.signup{
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 4px 4px 7px rgba(0,0,0,0.05);
}

input{
    padding: 10px;
    border-radius: 4px;
    border-color: #fff;
    margin-bottom: 20px;
    margin-top: 10px;
    font-family:'Poppins';
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #ddd;
    box-shadow: 4px 4px 7px rgba(0,0,0,0.05);
    outline: 0;
    
  }

  form button{
    font-family: 'Poppins';
    background: #fcf5f5;
    border: none;
    color: #6b1da7;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: cubic-bezier();
  }
    
  form{
    padding: 2px;
    box-sizing: unset;
    border: #1aac83;
    justify-content: baseline;
    
  }
  
  label, input{
    display: block;
  }